@model Application.ViewModels.Orders.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
    var error = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@error
    </div>
}

<h1>Create</h1>
<h4>Order</h4>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control"/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6 form-inline">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control datepicker" type="datetime-local" value="@DateTime.UtcNow" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 form-inline">
                    <label asp-for="Providers" class="control-label"></label>
                    <select asp-items="new SelectList(Model.Providers, nameof(Model.Provider.ProviderId), nameof(Model.Provider.Name), Model.Provider)" class="form-control form-control-sm dropdown" id="providerNameSelect" name="providerId"></select>
                </div>
            </div>
            
            <h4>Order Elements</h4>
            <hr />
            
            <div class="table" id="elements" style="border-collapse: separate; border-spacing: 0 7px;">
                <div id="element-0" style="margin-bottom: 20px">
                    <tr>
                        <td>
                            <label asp-for="OrderItems[0].Name" class="control-label"></label>
                            <input asp-for="OrderItems[0].Name" class="form-control" />
                            <span asp-validation-for="OrderItems[0].Name" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="OrderItems[0].Quantity" class="control-label"></label>
                            <input asp-for="OrderItems[0].Quantity" class="form-control" data-val-range-min="0.001" data-val-range="Minimum value is 0.001" />
                            <span asp-validation-for="OrderItems[0].Quantity" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="OrderItems[0].Unit" class="control-label"></label>
                            <input asp-for="OrderItems[0].Unit" class="form-control" />
                            <span asp-validation-for="OrderItems[0].Unit" class="text-danger"></span>
                        </td>
                    </tr>
                </div>
            </div>
            <div class="form-group">
                <input class="btn-light" id="btnAddNew" type="button" value="add new" />
                <input class="btn-dark" id="btnRemove" type="button" value="remove" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_CreateEditFormPartial" />
    <partial name="_ValidationScriptsPartial" />
}
